*.aux
*.pyc
*.swp
*1
*~
.DS_Store
.c9
.coverage
.python-version
_site
htmlcov
output
tex/*
!tex/500L.template.tex
!tex/chaptertemplate.tex
!tex/ieee-with-url.csl
!tex/ieee.csl
html/content
html/cache
*.pid
